.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.center {
  text-align: center;
  margin-top: 4rem;
}

.description {
  margin-top: 1rem;
  font-size: 1rem;
  color: #666;
}
